/* =========== GOOGLE FONTS Cormorant Upright*/

@import url('https://fonts.googleapis.com/css2?family=Cormorant+Upright:wght@300;600;700&display=swap');

/*===== VARIABLES CSS =====*/

:root {
    /* colors */
    --color-first: rgb(10, 106, 181);
    --color-second: rgb(255, 255, 255);
    /* font and typography */
    --font-cormorant: 'Cormorant Upright', serif;
    /* z index */
    --global-z-fixed: 99;
    /* paddings */
    --padding-container: 15px
}


/*========== BASE ==========*/

*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1,
h2,
h3,
p,
ul {
    margin: 0;
}

ul,
ol {
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

body {
    font-family: var(--font-cormorant);
    color: var(--color-first);
}


/* ============ SELECTORS ============= */

.container {
    padding-left: var(--padding-container);
    padding-right: var(--padding-container);
    max-width: 1208px;
    margin: 0 auto;
}


/* ============ start heading section ============*/

.heading {
    position: fixed;
    width: 100%;
    z-index: 9999;
}

.heading .container {
    display: flex;
    max-height: 100vh;
    /* background-color: orange; */
    justify-content: space-between;
    align-items: center;
    padding-top: 95px;
    padding-bottom: var(--padding-container);
}

.menubar-toggle {
    color: var(--color-first);
    font-size: 25px;
}

.menubar-toggle:hover,
.heading .heading__search-bag-icons a {
    color: black;
}

.heading .heading__search-bag-icons {
    max-width: 57px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.heading .heading__search-bag-icons a {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navigation {
    position: absolute;
    left: -100%;
    top: 0px;
    background-image: linear-gradient(to right, #141e30, #243b55);
    width: 100%;
    height: 100vh;
    z-index: 99;
    transition: 1s;
}

.navigation .navigation__container ul li label {
    font-size: 30px;
    color: var(--color-first);
    font-weight: 600;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navigation .navigation__container ul li label:hover,
.navigation .navigation__container ul ul li a:hover {
    color: var(--color-second);
}

.navigation .navigation__container ul li label span {
    font-size: 15px;
}

.navigation .menubar-toggle {
    position: absolute;
    right: calc(var(--padding-container)*2);
    top: calc(var(--padding-container)*2);
}

.navigation .navigation__container {
    display: flex;
    justify-content: center;
    padding-top: 110px;
}

.navigation .navigation__container ul {
    max-width: 250px;
    width: 100%;
}

.navigation .navigation__container ul ul li a {
    padding-left: 20px;
    font-size: 20px;
    color: var(--color-first);
    font-weight: 300;
    text-align: left;
}

.open-navigation {
    left: 0px;
}

.navigation ul ul {
    display: none;
}

[id^=btn]:checked+ul {
    display: block;
}

.navigation label {
    font-size: 22px;
    display: block;
    cursor: pointer;
}

.navigation ul li {
    padding: 5px 0;
}

.navigation .navigation__container ul input {
    display: none;
}


/* ============ end heading section ============*/


/* ============ start hero section ============*/

.hero {
    background-image: url("../images/hero\ background.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.hero .container {
    max-width: 1230px;
    padding-top: 126px;
    padding-left: 30px;
    width: 100%;
}

.hero .hero__main {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.hero .hero__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hero .hero__info .container {
    padding: 30px 0 0 8px;
    max-width: 485px;
    width: 100%;
}

.hero .hero__info h1 {
    font-size: clamp(80px, 10vw, 119px);
    line-height: clamp(80px, 10vw, 115px);
    font-weight: 700;
    padding-bottom: 10px;
}

.hero .hero__info p {
    font-size: 20px;
    font-weight: 300;
    text-align: left;
    padding-bottom: 25px;
}

.first-btn a {
    padding: 3px 19px;
    display: inline-flex;
    font-size: 25px;
    line-height: 35px;
    color: #ffffff;
    font-weight: 700;
    background-image: url("../images/background\ button.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.hero .hero__arrow-down {
    padding-top: 8px;
    display: flex;
    gap: 10px;
}

.hero .hero__arrow-down p {
    font-size: 14px;
    font-weight: 700;
    padding-bottom: 64px;
}


/* ============ end hero section ============*/


/* ============ start about us section ============*/

.about-us {
    background-image: url("../images/about\ us\ background.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.about-us .container {
    padding-top: 293px;
    padding-bottom: 245px;
    width: 100%;
    padding-left: clamp( 15px, 20vw, 208px);
}

.about-us .about-us__wrapper {
    max-width: 647px;
}

.about-us h3 {
    font-size: 119px;
    line-height: 115px;
    font-weight: 700;
    padding-bottom: 22px;
}

.about-us p {
    font-size: 20px;
    font-weight: 300;
}


/* ============ end about us section ============*/


/* ============ start private class section ============*/

.private-class {
    background-image: url("../images/private\ class\ background.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.private-class .container {
    position: relative;
    padding-top: 118px;
    padding-bottom: 45px;
}

.private-class .private-class__graphic1,
.private-class .private-class__graphic2 {
    display: flex;
}

.private-class .private-class__graphic2 {
    justify-content: end;
    padding-top: 45px;
}

.private-class .private-class__graphic1 img,
.private-class .private-class__graphic2 img {
    max-width: 150px;
}

.private-class .private-class__info {
    max-width: clamp(500px, 50vw, 612px);
    width: 100%;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.private-class .private-class__info h3 {
    font-size: clamp(80px, 10vw, 119px);
    line-height: clamp(80px, 10vw, 119px);
    font-weight: 700;
    text-align: center;
    padding-bottom: 40px;
}

.private-class .private-class__paragraph {
    max-width: 467px;
}

.private-class .private-class__info p {
    font-size: 20px;
    font-weight: 300;
    text-align: center;
}


/* ============ end private class section ============*/

@media(max-width:768px) {
    /* =================  start hero section ============== */
    .hero {
        background: transparent;
    }
    .hero .hero__main {
        flex-wrap: wrap;
    }
    .hero .hero__graphic,
    .hero .hero__info {
        margin: 0 auto;
    }
    .hero .hero__arrow-down {
        padding-top: 20px;
    }
    /* =================  end hero section ============== */
    /* =================  start about us section ============== */
    .about-us {
        display: flex;
        justify-content: center;
    }
    .about-us .container {
        max-width: 677px;
        padding-left: var(--padding-container);
        padding-right: var(--padding-container);
    }
    .about-us h3 {
        font-size: clamp(70px, 20vw, 119px);
    }
    /* =================  end about us section ============== */
    /* =================  start private class section ============== */
    .private-class .private-class__graphic1,
    .private-class .private-class__graphic2 {
        display: none;
    }
    .private-class .private-class__info {
        position: static;
        transform: none;
        max-width: 100%;
    }
    .private-class .private-class__info h3 {
        font-size: 70px;
    }
    /* =================  end private class section ============== */
}

@media(max-width:576px) {
    /* =================  start hero section ============== */
    .hero .hero__info h1 {
        font-size: 65px;
    }
    /* =================  end hero section ============== */
}